// Import base styles
@import 'base/reset';

// main.scss
body {
    background-color: rgb(234, 25, 25);
    font-family: 'Montserrat', sans-serif;
}

.main-navigation.toggled {
    // Styles for when the menu is open
    display: block;
}

@media screen and (min-width: 768px) {
    .main-navigation.toggled {
        display: none;
    }
}
